﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Dnn.Appointment.Debug.DnnAppointmentDebug.Models.CreateAppointment>

@using System.Web.Mvc;
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using Dnn.Appointment.Debug.DnnAppointmentDebug.Models;

@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/DnnAppointmentDebug/Scripts/Scripts.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/DnnAppointmentDebug/Content/Create.css");
    var errorID = String.Format("error-{0}", Guid.NewGuid());
    var formID = String.Format("form-{0}", Guid.NewGuid());
    var carTypeOptions = ViewBag.CarTypes as SelectList;
}

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers
<h1>Create an appointment</h1>

<div d="Item-@Dnn.ModuleContext.ModuleId">
    <div class="dnnForm dnnEditBasicSettings">
        <p id="@errorID"></p>
        <fieldset>
            <div class="dnnFormItem">
                <div><label for="DateID">Select a day</label></div>
                <input type="date" id="DateTime" name="DateID"  required="required" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                @Html.ValidationMessage("DateTime", "This field is mandatory")
            </div>
            <div class="dnnFormItem">
                <div><label for="DateID">Start of appointment</label></div>
                <input id="StartTime" type = "time" min = "09:00" max = "16:00" value = "09:00" step = "60" required="required"/>
                @Html.ValidationMessage("StartTime", "This field is mandatory")
            </div>
            <div class="dnnFormItem">
                <div><label for="DateID">End of appointment</label></div>
                <input id="EndTime" type="time" min="09:00" max="16:00" value="16:00" step="60" required="required"/>
                @Html.ValidationMessage("EndTime", "This field is mandatory")
            </div>
        </fieldset>
        <fieldset>
            <div class="dnnFormItem">
                <div><label for="UserID">First Name</label></div>
                @Html.TextBox("FirstName")
                @Html.ValidationMessage("FirstName", "This field is mandatory")
            </div>
            <div class="dnnFormItem">
                <div><label for="UserID">Last Name</label></div>
                @Html.TextBox("LastName")
                @Html.ValidationMessage("LastName", "This field is mandatory")
            </div>
            <div class="dnnFormItem">
                <div><label for="UserID">Email</label></div>
                <input type="email" placeholder="example@example.com" id="Email" required="required"/>
                @Html.ValidationMessage("Email", "This field is mandatory")
            </div>
            <div class="dnnFormItem">
                <div><label for="UserID">Phone Number</label></div>
                @Html.TextBox("PhoneNumber")
                @Html.ValidationMessage("PhoneNumber", "This field is mandatory")
            </div>
            <div class="dnnFormItem">
                <div><label for="UserID">Car Type</label></div>
                @Html.DropDownList("CarType", carTypeOptions)
                @Html.ValidationMessage("Car Type", "This field is mandatory")
            </div>
            <div class="dnnFormItem">
                <div><label for="UserID">Year</label></div>
                @Html.TextBox("Year")
                @Html.ValidationMessage("Year", "This field is mandatory")
            </div>
        </fieldset>
        <div class="buttonContainer">
            <div class="buttonCancelContainer">
                <button class="cancelButton" id="cancel">Cancel</button>
            </div>
            <div class="buttonCreateContainer">
                <button class="createButton" id="appointmentCreateButton" type="button">Create</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function ($, Sys) {
        $(function () {
            $('#cancel').click(function () { dnnModal.closePopUp(false); });

            $('#appointmentCreateButton').click(function () {
                var dateTime = $('#DateTime').val();
                var startTime = $('#StartTime').val();
                var endTime = $('#EndTime').val();
                var proxydate = new AppointmentProxy(
                '@Dnn.ActiveModule.ModuleID',
                'AppointmentBookingAppointment'
                );

                proxydate.createDate(dateTime, startTime, endTime, (success, dateresponse) => {
                    if (success === false) { return }
                    else {
                        var firstName = $("#FirstName").val();
                        var lastName = $("#LastName").val();
                        var email = $("#Email").val();
                        var phoneNumber = $("#PhoneNumber").val();
                        var carType = $("#CarType").val();
                        var year = $("#Year").val();
                        var proxyuser = new AppointmentProxy(
                            '@Dnn.ActiveModule.ModuleID',
                            'AppointmentBookingAppointment'
                        );
                        proxyuser.createUser(firstName, lastName, email, phoneNumber, carType, year, (success, userresponse) => {
                            if (success === false) { return }
                            else {
                                var proxyappointment = new AppointmentProxy(
                                    '@Dnn.ActiveModule.ModuleID',
                                    'AppointmentBookingAppointment'
                                );
                                proxyappointment.create(dateresponse.DateID, userresponse.UserID, () => undefined)
                                dnnModal.closePopUp(false)
                            }
                        }
                        )
                    }
                }
                )
            }
            );
        })
}(jQuery, window.Sys));
</script>