﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Dnn.Appointment.Debug.DnnAppointmentDebug.Models.CreateAppointment>

@using System.Web.Mvc;
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using DotNetNuke.Framework.JavaScriptLibraries;
@using Dnn.Appointment.Debug.DnnAppointmentDebug.Models;
@using System.Net.Mail;

@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/DnnAppointmentDebug/Scripts/Scripts.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/DnnAppointmentDebug/Content/Create.css");
    var errorID = String.Format("error-{0}", Guid.NewGuid());
    var carTypeOptions = ViewBag.CarTypes as SelectList;
}

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div class="createFormWrapper">
    <div class="createFormHeader">
        <h1>Create an appointment</h1>
    </div>
    <div class="createFormContainer">
        <div d="Item-@Dnn.ModuleContext.ModuleId">
            <div class="dnnForm dnnEditBasicSettings">
                <p id="@errorID"></p>
                    <fieldset>
                        <div class="dnnFormItem">
                            <div><label for="DateID">Select a day</label></div>
                            <input type="date" id="DateTime" name="DateID" required value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                        </div>
                        <div class="dnnFormItem">
                            <div><label for="DateID">Start of appointment</label></div>
                            <input id="StartTime" type="time" min="09:00" max="16:00" value="09:00" step="60" required />
                        </div>
                        <div class="dnnFormItem">
                            <div><label for="DateID">End of appointment</label></div>
                            <input id="EndTime" type="time" min="09:00" max="16:00" value="16:00" step="60" required />
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="dnnFormItem">
                            <div><label for="UserID">First Name</label></div>
                            <input type="text" placeholder="E.g. Tow" id="FirstName" required />
                        </div>
                        <div class="dnnFormItem">
                            <div><label for="UserID">Last Name</label></div>
                            <input type="text" placeholder="E.g. Mater" id="LastName" required />
                        </div>
                        <div class="dnnFormItem">
                            <div><label for="UserID">Email</label></div>
                            <input type="email" placeholder="example@example.com" id="Email" required />
                            <p id="EmailErrorId"></p>
                        </div>
                        <div class="dnnFormItem">
                            <div><label for="UserID">Phone Number</label></div>
                            <input type="tel" placeholder="+12345678" id="PhoneNumber" required />
                        </div>
                        <div class="dnnFormItem">
                            <div><label for="UserID">Car Type</label></div>
                            @Html.DropDownList("CarType", carTypeOptions)
                            @Html.ValidationMessage("Car Type", "This field is mandatory")
                        </div>
                        <div class="dnnFormItem">
                            <div><label for="UserID">Year of making</label></div>
                            <input type="number" placeholder="E.g. 2024" id="Year" required />
                            <p id="YearErrorId"></p>
                        </div>
                    </fieldset>
                    <div class="buttonContainer">
                        <div class="buttonCancelContainer">
                            <button class="cancelButton" id="cancel">Cancel</button>
                        </div>
                        <div class="buttonCreateContainer">
                            <button class="createButton" id="appointmentCreateButton" type="button">Create</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
</div>


<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function ($, Sys) {
        $(function () {
            $('#cancel').click(function () { dnnModal.closePopUp(false); });

            $('#appointmentCreateButton').click(function () {
                var dateTime = $('#DateTime').val();
                var startTime = $('#StartTime').val();
                var endTime = $('#EndTime').val();
                var firstName = $("#FirstName").val();
                var lastName = $("#LastName").val();
                var email = $("#Email").val();
                var phoneNumber = $("#PhoneNumber").val();
                var carType = $("#CarType").val();
                var year = $("#Year").val();
                if (isNaN(year) || year > 2024 || year < 1960) {
                    $('#YearErrorId').text('year is not a number or not between 1960 and 2024');
                    return;
                }
                var proxydate = new AppointmentProxy(
                '@Dnn.ActiveModule.ModuleID',
                'AppointmentBookingAppointment'
                );

                proxydate.createDate(dateTime, startTime, endTime, (success, dateresponse) => {
                    if (success === false) { return }
                    else {

                        var proxyuser = new AppointmentProxy(
                            '@Dnn.ActiveModule.ModuleID',
                            'AppointmentBookingAppointment'
                        );
                        proxyuser.createUser(firstName, lastName, email, phoneNumber, carType, year, (success, userresponse) => {
                            if (success === false) { return }
                            else {
                                var proxyappointment = new AppointmentProxy(
                                    '@Dnn.ActiveModule.ModuleID',
                                    'AppointmentBookingAppointment'
                                );
                                proxyappointment.create(dateresponse.DateID, userresponse.UserID, () => {
                                    dnnModal.closePopUp(false)
                                })

                            }
                        }
                        )
                    }
                }
                )
            })
            ;
        })
}(jQuery, window.Sys));
</script>