﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using Dnn.Appointment.Debug.DnnAppointmentDebug.Services
@using Dnn.Appointment.Debug.DnnAppointmentDebug.Models;

@{
    var appointment = ViewBag.Appointment as AppointmentData;
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/DnnAppointmentDebug/Scripts/Scripts.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/DnnAppointmentDebug/Content/Detail.css");
    var appointmentID = ViewBag.AppointmentID;
}

<div class="detailWrapper">
    <div class="detailContainer">
        <div class="detailHeader">
            <h2>Foglalás adatai</h2>
        </div>
        <div class="detailContentContainer">
            <p class="detailContent">
                <b>Dátum:</b> @(appointment.Date.DateTime.ToString("yyyy.MM.dd"))&emsp;@(appointment.Date.StartTime.ToString("HH:mm")) - @(appointment.Date.EndTime.ToString("HH:mm"))
            </p>
            <p class="detailContent">
                <b>Vezetéknév:</b> @(appointment.User.LastName)
            </p>
            <p class="detailContent">
                <b>Keresztnév</b> @(appointment.User.FirstName)
            </p>
            <p class="detailContent">
                <b>Email cím:</b> @(appointment.User.Email)
            </p>
            <p class="detailContent">
                <b>Telefonszám:</b> @(appointment.User.PhoneNumber)
            </p>
            <p class="detailContent">
                <b>Autó típusa:</b> @(appointment.User.CarType)
            </p>
            <p class="detailContent">
                <b>Autó gyártási éve:</b> @(appointment.User.CarYear)
            </p>
            <div class="buttonContainer">
                <div class="buttonDeleteContainer">
                    <button class="deleteButton" id="appointmentDeleteButton" type="button" onclick="$.deleteappointment(@appointmentID)">Törlés</button>
                </div>
                <div class="buttonCancelContainer">
                    <button class="cancelButton" id="cancel">Mégsem</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {
        $.deleteappointment = function (cancelid) {
            var check = confirm("Biztosan törölni szeretné a foglalást?")
            console.log(@appointmentID);
            if (check) {
                var deleteproxy = new AppointmentProxy(
                '@Dnn.ActiveModule.ModuleID',
                'AppointmentBookingAppointment'
                );
                deleteproxy.cancel(cancelid, () => { dnnModal.closePopUp(true); })
            }
        }
        $('#cancel').click(function () { dnnModal.closePopUp(false); });
    }(jQuery, window.Sys));
</script>